/*
Theme Name: evolve
Theme URI: http://theme4press.com/evolve-multipurpose-wordpress-theme/
Version: 3.9.8
Description: evolve is an eye-catching and minimal WordPress theme built for web enthusiasts who like effective yet sweet website. It's based on two solid frameworks - Twitter Bootstrap and Kirki framework with focus on details and usability which move this theme to the next level, we are not afraid to say to PREMIUM one. Standard of this theme is not only settings of many theme options but its flexibility which let you build any website of your needs - if it's just a blog, e-shop, magazine or any business page. With the front page DRAG & DROP builder you can create new beautiful websites within few minutes. *** IMPORTANT: Please read the CHANGELOG.txt file for any important changes before you always update the theme! ***
Author: Theme4Press
Author URI: http://theme4press.com
Tags: e-commerce, grid-layout, footer-widgets, blog, photography, buddypress, two-columns, left-sidebar, right-sidebar, full-width-template, sticky-post, threaded-comments, microformats, post-formats, flexible-header, featured-images, custom-background, custom-colors, custom-header, custom-menu, theme-options, translation-ready
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: evolve

Table of Contents:

- Default WordPress Definitions
- Typography
- General Layout
- Header
    -- Header Layout
    -- Menu Bar (Navigation)
    -- Menu Bar (Responsive Icon)
    -- Sticky Header (Navigation)
    -- WooCommerce Menu
- Footer
- Content
    -- SVG Icons
    -- Images and Galleries
    -- Media
    -- Post/Page Layout
    -- Comments
    -- Widgets
    -- Default Widgets
        -- Tabs Widget
    -- Tables
- Components
    -- Badge
    -- Blog Navigation
        -- Navigation Links
        -- Number Pagination
        -- Infinite Scroll
    -- Bootstrap / Parallax / Posts (Carousel) Slider
    -- Breadcrumbs
    -- Buttons
    -- Forms
        -- Search Form
    -- Tooltips
- Front Page Section
    -- Content Boxes
    -- Testimonials
    -- Counter Circle
- Back To Top Button (Scroll to Top)
- Social Media/Share This Links
- bbPress
    -- bbPress Widgets
- WooCommerce
    -- General Definitions
    -- Product Catalog
    -- Single Product
    -- Reviews and Rating
    -- My Account
    -- Cart and Checkout
    -- WooCommerce Widgets
- WPML Definitions
- Custom FadeIn Effect
- Responsive Dynamic Definitions
    -- Min-Width 992px - Desktop
    -- Max-Width 782px - For Admin Bar
    -- Min-Width 768px - Tablet
    -- Max-Width 767.98px - Landscape Phone
    -- Max-Width 575.98px - Small Phone


/*
    Default WordPress Definitions
    ======================================= */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    clip: auto;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

/*
    Typography
    ======================================= */

a {
    color: #0d9078;
    transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
}

a:hover {
    color: #0d9078;
    text-decoration: none;
}

blockquote {
    border-bottom: 1px solid #e0dddd;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

code {
    background: #fff;
    border: 1px solid #e0dddd;
    border-left-width: 3px;
    border-radius: .25rem;
    display: block;
    font-weight: bolder;
    margin: 2rem 0;
    padding: 2rem;
    word-break: normal;
}

strong {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ol {
    padding: 0;
}

.post-content ul,
.comment-content ul {
    margin-left: 1rem;
}

.post-content ol,
.comment-content ol {
    margin-left: 1rem;
}

.post-content > ol,
.comment-content > ol {
    margin-left: 2rem;
}

/*
    General Layout
    ======================================= */

body {
    background-color: #ecebe9;
}

#wrapper,
.wrapper-customizer {
    background: #f9f9f9;
    margin: 0 auto 2rem;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.aside,
.aside a {
    font-size: .9rem;
}

/*
    Header
    ======================================= */

/*
    Header Layout
    --------------------------------------- */

#website-title {
    font-size: 2.5rem;
}

.header-logo-container img {
    float: left;
}

.menu-header {
    background: #273039;
    display: block;
    width: 100%;
}

.header-widgets {
    padding-top: 35px;
}

.header-block {
    background-repeat: repeat-y;
}

/*
    Menu Bar (Navigation)
    --------------------------------------- */

.header-v1 .navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar.woocommerce {
    padding: 0;
}

.navbar-nav {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.navbar-nav .open > .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
    margin: 0;
    padding: 0;
}

.navbar-nav .dropdown-menu .dropdown-menu {
    left: 100%;
    margin: 0;
    right: auto;
    top: 0;
}

.navbar-nav .dropdown-item,
.navbar-nav .menu-item-has-children ul li .dropdown-toggle {
    padding: .2rem 1rem;
}

.navbar-nav .dropdown-menu-right .dropdown-menu,
.navbar-nav .navbar-right .dropdown-menu .dropdown-menu,
.navbar-nav .pull-right .dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
}

.navbar-nav .dropdown-menu.animated {
    animation-duration: .3s;
    -webkit-animation-duration: .3s;
}

.navbar-nav .dropdown-menu.animated::before {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.navbar-nav .dropdownhover-top {
    margin-bottom: 2px;
    margin-top: 0;
}

.navbar-nav .dropdown-toggle::after,
.navbar-nav ul li.menu-item-has-children .dropdown-toggle::after {
    border: solid;
    border-width: 0 .1em .1em 0;
    display: inline-block;
    margin-left: .7em;
    padding: .15em;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.navbar-nav ul li.menu-item-has-children .dropdown-toggle::after {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/*
    Menu Bar (Responsive Icon)
    --------------------------------------- */

.navbar-toggler {
    background-color: rgba(0, 0, 0, .5);
    padding: .5rem;
}

.navbar-toggler .icon {
    height: 1.5rem;
    margin: 0;
    width: 1.5rem;
}

/*
    Sticky Header (Navigation)
    --------------------------------------- */

.sticky-header {
    max-width: inherit;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: visibility 0s .2s, opacity .2s linear;
    -o-transition: visibility 0s .2s, opacity .2s linear;
    -webkit-transition: visibility 0s .2s, opacity .2s linear;
    visibility: hidden;
    width: inherit;
    z-index: 999;
}

.sticky-header img {
    margin: .8rem 0;
}

.admin-bar .sticky-header {
    top: 32px;
}

/*
    WooCommerce Menu
    --------------------------------------- */

.header-wrapper .woocommerce-menu .btn {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.header-wrapper .woocommerce-menu li.my-account > a::after,
.header-wrapper .woocommerce-menu li.cart > a::after {
    border: solid;
    border-width: 0 .1em .1em 0;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: .6em;
    padding: .15em;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header-wrapper .woocommerce-menu .cart .dropdown-item {
    padding: 0;
}

/*
    Footer
    ======================================= */

.footer {
    padding: 2rem 0;
    position: relative;
}

.footer::before {
    border-radius: 100px / 10px;
    bottom: 0;
    content: "";
    left: 30px;
    position: absolute;
    right: 30px;
    top: 50%;
    z-index: -1;
}

#copyright {
    font-size: .7rem;
    text-align: center;
}

/*
    Content
    ======================================= */

.content {
    padding-top: 2rem;
    word-wrap: break-word;
}

/*
    SVG Icons
    --------------------------------------- */

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    height: 1rem;
    vertical-align: middle;
    width: 1rem;
    fill: currentColor;
}

.btn .icon,
.button .icon,
button .icon,
.header-wrapper .woocommerce-menu .icon {
    margin-right: .6rem
}

/*
    Images and Galleries
    --------------------------------------- */

img {
    height: auto;
    max-width: 100%;
}

.alignleft {
    float: left;
    margin: 0 2rem 2rem 0;
}

.alignright {
    float: right;
    margin: 0 0 2rem 2rem;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.wp-caption {
    margin-bottom: 1rem;
    max-width: 100%;
    text-align: center;
}

.wp-caption-text,
.gallery-caption {
    font-size: .8rem;
    padding: .8rem;
}

.gallery img {
    border: none !important;
}

.thumbnail-post {
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

.thumbnail-post img {
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    width: 100%;
}

.thumbnail-post .mask {
    background: rgba(255, 255, 255, .3);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    width: 100%;
}

.thumbnail-post .mask a {
    align-items: center;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.thumbnail-post .mask a.zoom {
    right: 0;
}

.thumbnail-post .mask a.link,
.thumbnail-post .mask a.zoom {
    width: 50%;
}

.thumbnail-post .icon {
    filter: drop-shadow(0 0 1px #fff);
    -webkit-filter: drop-shadow(0 0 1px #fff);
    height: 50px;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
    padding: 13px;
    position: relative;
    top: -30px;
    transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    width: 50px;
}

.thumbnail-post .icon::after {
    background: url(assets/images/icons.svg#icon-link-dark-view) center center no-repeat;
    background-size: 24px;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.thumbnail-post .icon-portfolio-link,
.thumbnail-post .icon-portfolio-zoom {
    margin-left: 0;
    position: absolute;
}

.thumbnail-post .icon-portfolio-link {
    left: unset;
    right: 30px;
}

.thumbnail-post .icon-portfolio-zoom {
    left: 30px;
}

.thumbnail-post-single .icon-zoom::after,
.thumbnail-post .icon-portfolio-zoom::after {
    background-image: url(assets/images/icons.svg#icon-search-dark-view);
}

.thumbnail-post-single {
    margin-top: 2rem;
}

/*
    Media
    --------------------------------------- */

embed,
iframe,
object,
video {
    max-width: 100%;
}

.excerpt-container iframe {
    height: auto;
    width: 100%;
}

/*
    Post/Page Layout
    --------------------------------------- */

.post,
.type-page {
    margin-bottom: 2rem;
    position: relative;
}

.post-title {
    margin-bottom: 1.5rem;
}

.page-title {
    font-size: 1.5rem;
    line-height: 2rem;
}

.alert .page-title {
    margin: 0;
}

.post-meta {
    font-size: .8rem;
    margin-bottom: .5rem;
}

.post-meta .published {
    border-right: 1px solid rgba(0, 0, 0, .1);
    font-weight: bold;
    margin-right: .5rem;
    padding-right: .5rem;
}

.post-meta .fn {
    margin-right: 1rem;
}

.post-meta .fn,
.post-meta .comment-count a {
    font-weight: bold;
}

.post-meta .comment-count {
    text-align: right;
}

.post-meta-footer {
    margin-bottom: 1rem;
}

.post-meta .icon {
    margin-right: .6rem;
}

.post-meta .icon-more {
    margin-right: 0;
}

.post-meta .icon-tag {
    margin-left: 1rem;
}

.post-content {
    margin: 2rem 0;
}

.post-content p:last-child {
    margin-bottom: 0;
}

.post-content .woocommerce p:last-child {
    margin-bottom: 1rem;
}

.post-content::after,
.comment-content::after {
    clear: both;
    content: "";
    display: table;
    table-layout: fixed;
}

.edit-post,
.edit-comment {
    opacity: 0;
    position: relative;
    transition: visibility 0s .2s, opacity .2s linear;
    -o-transition: visibility 0s .2s, opacity .2s linear;
    -webkit-transition: visibility 0s .2s, opacity .2s linear;
    visibility: hidden;
}

.edit-post .icon,
.edit-comment .icon {
    height: 1.2rem;
    margin: 0;
    width: 1.2rem;
}

.edit-post .post-edit-link,
.edit-comment .comment-edit-link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.avatar {
    border-radius: 50%;
    float: right;
    margin: 0 0 0 1rem;
}

.avatar-meta {
    padding-right: 0;
}

.avatar-meta .avatar {
    float: left;
    margin: 0;
}

.card {
    background-color: transparent;
    border-color: transparent;
}

.card-columns .card {
    margin-bottom: 3rem;
}

.formatted-post {
    background: #9acd32;
}

.formatted-post .post-meta .published {
    border-right-color: #fff;
}

.formatted-post .post-title a,
.formatted-post .post-meta,
.formatted-post .post-meta a,
.formatted-post .post-content,
.formatted-post .page-item.disabled .page-link,
.formatted-post .navigation a,
.formatted-post .post-content .number-pagination a:link {
    color: #fff;
}

.formatted-post a.btn {
    background: #222;
    border-color: #222;
    box-shadow: 0 2px 0 #111;
    -webkit-box-shadow: 0 2px 0 #111;
}

.formatted-post::before {
    background: rgba(0, 0, 0, .35) url(assets/images/icons.svg#icon-sticky-view) center center no-repeat;
    background-size: 24px 24px;
    content: '';
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}

.format-video.formatted-post {
    background: #ffa500;
}

.format-chat.formatted-post {
    background: #d8b803;
}

.format-link.formatted-post {
    background: #01bbe1;
}

.format-image.formatted-post {
    background: #e66d26;
}

.format-quote.formatted-post {
    background: #ca2547;
}

.format-aside.formatted-post {
    background: #495d7f;
}

.format-gallery.formatted-post {
    background: #666;
}

.format-audio.formatted-post {
    background: #009bae;
}

.format-status.formatted-post {
    background: #69849a;
}

.format-video.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-video-view);
}

.format-chat.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-chat-view);
}

.format-link.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-link-light-view);
}

.format-image.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-image-view);
}

.format-quote.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-quote-view);
}

.format-aside.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-aside-view);
}

.format-gallery.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-gallery-view);
}

.format-audio.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-audio-view);
}

.format-status.formatted-post::before {
    background-image: url(assets/images/icons.svg#icon-comment-view);
}

/*
    Comments
    ======================================= */

.pings-title {
    font-size: 1rem;
}

.comment-feed {
    display: inline-block;
}

.comment-feed .icon {
    height: 25px;
    width: 25px;
}

.comment-list {
    margin-top: 2rem;
}

.comment-list li.comment,
.comment-list li.pingback,
.bbp-replies li {
    list-style: none;
}

.comment-list .children {
    margin-top: 2.5rem;
}

.comment-meta {
    font-size: .9rem;
    line-height: .9rem;
}

.comment-content {
    margin: 2rem 0 0;
}

.comment-content p:last-child {
    margin-bottom: 0;
}

.comment,
.pingback,
.comment.depth-1,
.bbp-replies .reply {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 2rem;
}

.comment.bypostauthor {
    border-left-width: 2px;
}

.comment.depth-1.parent {
    padding: 1rem 2rem 0;
}

.comment.depth-2.parent .comment {
    margin-bottom: 0;
}

.pingback,
.pingback .comment-meta {
    font-size: .8rem;
}

.pingback .comment-content {
    margin-top: 0;
}

.comment-reply-link {
    margin-top: 2rem;
}

#reply-title {
    font-weight: bold;
}

#cancel-comment-reply-link {
    padding-left: 2rem;
    position: relative;
}

#cancel-comment-reply-link .icon {
    height: 25px;
    left: 0;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 25px;
}

#respond {
    margin-bottom: 2rem;
}

.comment #respond {
    margin: 2rem 0 0;
}

#respond .form-submit {
    margin: 0;
}

.comments-closed {
    margin-bottom: 2rem;
}

/*
    Widgets
    --------------------------------------- */

/*
    -- Default Widgets
    --------------------------------------- */

.widget {
    margin-bottom: 1rem;
    position: relative;
    z-index: 0;
}

.widget::before {
    border-radius: 100px / 10px;
    bottom: 0;
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: -1;
}

.widget a {
    padding: .125rem 0;
}

.widget ul {
    margin: 0;
}

.widget-title,
.widget-title a.rsswidget {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0;
    padding: .8rem 0;
    position: relative;
    z-index: 1;
}

.widget-before-title {
    position: relative;
    top: -20px;
}

.widget-title-background {
    color: #333;
    padding-top: .8rem;
}

.widget-content {
    background: #f6f6f6;
    border: 1px solid #e0dddd;
    margin: 0 0 2rem;
}

.widget-content ul ul {
    margin-left: 1rem;
}

.widget_calendar th,
.widget_calendar td {
    text-align: center;
}

.widget_calendar tbody a {
    font-weight: bolder;
}

.widget_calendar caption {
    font-size: .8rem;
    text-align: right;
}

.widget_rss ul li div {
    margin: .5rem 0;
}

.widget_rss cite {
    font-size: .8rem;
    font-style: normal;
}

.widget .post-date,
.widget .rss-date {
    float: right;
    font-size: .8rem;
}

.widget_recent_entries ul li a,
.widget_recent_comments ul li a,
.widget_rss ul li a {
    font-weight: bold;
}

.widget_recent_entries ul li,
.widget_recent_comments ul li,
.widget_rss ul li {
    border-bottom: 1px solid #e0dddd;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.widget_recent_entries ul li:last-child,
.widget_recent_comments ul li:last-child,
.widget_rss ul li:last-child {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
    -- Tabs Widget
    --------------------------------------- */

ul.nav-tabs {
    margin-left: 0;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
    border-color: #e0dddd transparent #dee2e6 #e0dddd;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: .8rem;
    padding-top: .8rem;
}

.nav-tabs .nav-link.active {
    background: #f6f6f6;
    border-color: #e0dddd transparent transparent #e0dddd;
    color: #51545c;
    font-weight: bold;
}

.nav-tabs .nav-item:last-child .nav-link {
    border-right-color: #e0dddd;
}

.widget .tab-content {
    background: #f6f6f6;
    border: 1px solid #e0dddd;
    border-top: 0;
}

.widget .tab-content ul {
    list-style: none;
    margin: 0;
}

.widget .tab-content .tab-pane li {
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    padding: 15px 0 10px 0;
}

.widget .tab-content .tab-pane li:nth-child(even) {
    background: rgba(255, 255, 255, .6);
}

.widget .tab-content .tab-pane li:last-child {
    border-bottom: 0;
}

.widget .tab-content .tab-pane img {
    background: #fff;
    border: 1px solid #f1f1f1;
    height: auto;
    margin: 0 0 0 20px;
    padding: 4px;
    width: 60px;
}

.widget .tab-content .tab-pane li .image {
    float: left;
}

.widget .tab-content .tab-pane li .post-holder {
    float: left;
    margin-left: 20px;
    width: 60%;
}

.widget .tab-content .tab-pane li .post-holder p {
    margin: 0 0 5px;
}

.widget .tab-content .tab-pane li .post-holder a {
    background: none;
    border: 0;
    font-weight: bold;
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: 0;
}

.widget .tab-content .tab-pane li .post-holder .meta {
    font-size: .7rem;
    margin: 2px 0 0;
}

.widget .tab-content .tab-pane li .post-holder .meta em {
    font-size: .7rem;
    font-style: normal;
}

.widget.evolve_tabs .widget-content {
    background: #fdfdfd;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0;
}

/*
    Tables
    ======================================= */

table,
.table {
    background: #fff;
    border: 1px solid #e0dddd;
    width: 100%;
}

table td,
.table td {
    vertical-align: middle;
}

table .even {
    background: #fafafa;
}

td,
th {
    padding: .75rem;
}

.post-content table,
.comment-content table {
    margin-bottom: 2rem;
}

.post-content .table {
    margin-bottom: 0;
}

thead {
    background: #f6f6f6;
}

thead th {
    border-bottom: 1px solid #e0dddd;
}

.table thead th {
    border-bottom-width: 1px;
}

/*
    Components
    ======================================= */

/*
    Badge
    --------------------------------------- */

.badge {
    padding: .4em .6em;
}

/*
    Blog Navigation
    --------------------------------------- */

/*
    -- Navigation Links
    --------------------------------------- */

.navigation {
    margin-bottom: 2rem;
}

.navigation,
.navigation a {
    font-size: .9rem;
}

.navigation a:hover,
.post-content .navigation a:hover {
    color: #333 !important;
}

.navigation .nav-previous {
    text-align: right;
}

.post-content .navigation {
    clear: both;
}

.navigation .nav-previous a::after,
.navigation .nav-next a::before,
.navigation a.next::after,
.navigation a.prev::before {
    border: solid;
    border-width: 0 .1em .1em 0;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: .7em;
    padding: .15em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    vertical-align: .15em;
    width: 0;
}

.navigation .nav-next a::before,
.navigation a.prev::before {
    margin: 0 .7rem 0 0;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/*
    -- Number Pagination
    --------------------------------------- */

.navigation .page-link {
    background: none;
    border: none;
}

.navigation .current {
    font-weight: bold;
}

.navigation .pagination {
    margin-left: 0;
}

.navigation .number-pagination .page-item a {
    display: block;
    line-height: 1.25;
    margin-left: -1px;
    padding: .5rem .75rem;
    position: relative;
}

.navigation .page-item.disabled .page-link {
    background: none;
    font-weight: bold;
    padding-left: 0;
}

/*
    -- Infinite Scroll
    --------------------------------------- */

.infinite-scroll,
.ias-trigger,
.ias-noneleft {
    column-span: all;
    -webkit-column-span: all;
    margin: 3rem 0;
    text-align: center;
    width: 100%;
}

.loader,
.woocommerce-checkout .loader::before,
.woocommerce-checkout .blockUI.blockOverlay::before,
.woocommerce-cart-form .loader::before,
.woocommerce-cart-form .blockUI.blockOverlay::before {
    animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
    background: url(assets/images/icons.svg#icon-loader-view) center center no-repeat;
    background-size: 60px;
    content: '';
    filter: blur(0);
    -webkit-filter: blur(0);
    height: 60px;
    left: 50%;
    margin-left: -30px;
    position: relative;
    width: 60px;
}

.woocommerce-checkout .blockUI.blockOverlay,
.woocommerce-cart-form .blockUI.blockOverlay {
    position: relative
}

.woocommerce-checkout .loader::before,
.woocommerce-checkout .blockUI.blockOverlay::before,
.woocommerce-cart-form .loader::before,
.woocommerce-cart-form .blockUI.blockOverlay::before {
    background-size: cover;
    display: block;
    margin-top: -30px;
    position: absolute;
    top: 50%;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

/*
    Bootstrap / Parallax / Posts (Carousel) Slider
    ======================================= */

.carousel img {
    margin: 0 auto;
}

.carousel .layout-left,
.carousel .layout-right {
    bottom: 50%;
    text-align: left;
    transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
}

.carousel .carousel-caption h5 {
    margin-bottom: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    align-items: center;
    background: rgba(0, 0, 0, .7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    height: 50px;
    justify-content: center;
    left: 2rem;
    padding: 10px;
    width: 50px;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    border: solid;
    border-width: 3px 3px 0 0;
    content: "";
    height: 12px;
    margin: 0 4px 0 0;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 12px;
}

.carousel-control-prev-icon::after {
    margin: 0 0 0 4px;
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.product-carousel .carousel-control-prev,
.carousel-multiple-items .carousel-arrow {
    display: none;
}

.carousel-multiple-items {
    margin-top: 2rem;
}

.carousel-multiple-items .carousel-item {
    cursor: pointer;
}

#bootstrap-slider .carousel-caption h5,
#parallax-slider .carousel-caption h5,
#posts-slider .carousel-caption h5 {
    display: none;
}

#parallax-slider .carousel-caption h5 {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

#parallax-slider .carousel-caption p {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

#parallax-slider .carousel-caption img {
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

/*
    Breadcrumbs
    --------------------------------------- */

.breadcrumb {
    background-color: transparent;
    font-size: .8rem;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    border: solid;
    border-width: 0 .1em .1em 0;
    content: "";
    display: inline-block;
    margin-right: .5rem;
    padding: .15em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    vertical-align: .15em;
}

/*
    Buttons
    --------------------------------------- */

.btn,
.button,
.widget .button,
button,
input#submit,
input[type=submit] {
    background: #0d9078;
    border: 1px solid #0d9078;
    box-shadow: 0 2px 0 #1d6e72;
    -webkit-box-shadow: 0 2px 0 #1d6e72;
    cursor: pointer;
    display: inline-block;
    padding: .7rem 1.4rem;
}

.btn-sm {
    padding: .5rem 1rem !important;
}

/*
    Forms
    --------------------------------------- */

.input-text,
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=file],
input[type=tel],
textarea,
select,
a.wpml-ls-item-toggle,
.wpml-ls-sub-menu a {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

select:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

/*
    -- Search Form
    --------------------------------------- */

.search-form {
    height: 50px;
}

.search-form .form-control {
    height: 50px;
}

.search-form .icon-search {
    margin-right: -8px;
    margin-top: -8px;
    position: absolute;
    right: 25px;
    top: 25px;
}

.search-form .icon-search:hover {
    cursor: pointer;
}

.header-search .form-control {
    background: none;
    border-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    width: 50px;
}

.header-search .form-control:focus {
    padding-left: 25px;
    padding-right: 45px;
    text-indent: 1px;
    width: 240px;
}

.widget-content .search-form label,
.search-full-width .search-form label {
    position: relative;
    width: 100%;
}

.search-full-width {
    margin-bottom: 2rem;
}

.search-full-width label {
    display: block;
}

.search-button {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
    -webkit-filter: none;
    height: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 99;
}

.search-button:hover {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.search-form #search_label_top span {
    cursor: text;
    display: block;
    font-size: 15px;
    height: 50px;
    left: 0;
    padding: 0 12px;
    position: relative;
    z-index: 10;
}

/*
    Tooltips
    --------------------------------------- */

.tooltip-inner {
    background-color: #333;
    padding: .3rem .6rem;
}

.tooltip {
    font-size: .8rem;
}

.tooltip .arrow {
    display: none;
}

/*
    Front Page Section
    ======================================= */

.section-title {
    margin-bottom: 2rem;
    width: 100%;
}

h3.no-content {
    color: #ddd;
    margin: 0;
    width: 100%;
}

/*
    -- Content Boxes
    --------------------------------------- */

.home-content-boxes .card-deck {
    flex-flow: row wrap;
    margin-bottom: 1rem;
    width: 100%;
    -ms-flex-flow: row wrap;
}

.home-content-boxes [class*="col-"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.home-content-boxes .card-deck,
.home-content-boxes .card {
    margin-left: 0;
    margin-right: 0;
}

.home-content-boxes .card,
.home-content-boxes .card-footer {
    border: none;
    border-radius: 0;
}

.home-content-boxes .card-footer {
    background: none;
    padding-bottom: 2rem;
}

.home-content-boxes .content-box [class*=" fa-"] {
    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .05));
    -webkit-filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .05));
    height: 50px;
    margin-top: 1.25rem;
    width: 50px;
}

#primary .home-content-boxes .container {
    padding: 0;
}

/*
    -- Testimonials
    --------------------------------------- */

.home-testimonials blockquote {
    border-bottom: 0;
    padding: 0;
    width: 100%;
}

.home-testimonials .testimonial-image {
    margin-top: 1rem;
    max-width: 80px;
}

/*
    -- Counter Circle
    --------------------------------------- */

.counter-circle {
    display: block;
    margin: 0 auto;
    max-height: 220px;
    max-width: 220px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.counter-circle [class*=" fa-"] {
    filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .05));
    -webkit-filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, .05));
    height: 50px;
    margin-bottom: 1rem;
    width: 50px;
}

.counter-circle-text {
    bottom: 50%;
    position: absolute;
    transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    width: 100%;
}

.home-counter-circle .col:last-child {
    margin-bottom: 0 !important;
}

/*
    Back To Top Button (Scroll to Top)
    ======================================= */

#backtotop {
    border-radius: 0;
    bottom: 1.5rem;
    box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
    display: none;
    padding: .7rem 1.2rem;
    position: fixed;
}

#backtotop::after {
    border: solid;
    border-width: .15em .15em 0 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: -.3em;
    padding: .2em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 0;
}

/*
    Social Media/Share This Links
    ======================================= */

.social-media-links {
    margin: 0;
    padding: 0;
}

.social-media-links li {
    display: inline-block;
    float: left;
}

.social-media-links a {
    color: #999;
    display: inline-block;
    line-height: 0;
    margin: 5px;
    padding: 5px;
}

.share-this {
    float: right;
}

.share-this a {
    display: inline-block;
    padding: 5px;
}

.share-this a:last-child {
    padding-right: 0;
}

.share-this .icon {
    margin: 0;
}

/*
    bbPress
    ======================================= */

.bbpress .post-content {
    margin: 0;
}

.bbpress .post-meta .icon-tag {
    margin-left: 0;
}

.bbpress .bbp-user-navigation {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-bottom: 2rem;
    padding: 2rem;
}

.bbp-user-section .comment-list {
    margin-top: 0;
}

#bbpress-forums {
    margin-bottom: 2rem;
}

.bbp-search #bbpress-forums {
    margin-bottom: 0;
}

#bbpress-forums ul {
    font-size: .9rem;
    margin: 0;
    overflow: hidden;
}

#bbpress-forums ul.bbp-forums {
    border: 1px solid #e0dddd;
    margin-bottom: 2rem;
}

#bbpress-forums .bbp-author-name,
#bbpress-forums .comment-author b {
    font-weight: bold;
}

.bbp-forum-topic-count,
.bbp-topic-voice-count,
.bbp-forum-reply-count,
.bbp-topic-reply-count {
    float: left;
    text-align: center;
    width: 10%;
}

.bbp-forum-info,
.bbp-topic-title {
    float: left;
    width: 55%;
}

.bbp-forum-title,
.bbp-permalink {
    font-size: 1rem;
    font-weight: bold;
}

#bbpress-forums .bbp-header {
    background: #f6f6f6;
    border-bottom: 1px solid #e0dddd;
    font-weight: bold;
    padding: .75rem 1rem;
}

#bbpress-forums .bbp-header,
#bbpress-forums .bbp-body {
    clear: both;
}

#bbpress-forums .bbp-body ul {
    overflow: hidden;
    padding: .75rem 1rem;
}

#bbpress-forums .bbp-body ul.sticky {
    background: #fefefe;
    border-bottom: 1px solid #f1f1f1;
}

#bbpress-forums ul.even {
    background-color: #fff;
}

#bbpress-forums ul.odd {
    background-color: #fafafa;
}

#bbpress-forums .topic-lead {
    background: #fff;
    font-size: 1rem;
    padding: 2rem;
}

#bbpress-forums .bbp-content {
    margin-top: 1rem;
}

#bbpress-forums .bbp-author-role {
    display: inline-block;
}

#bbpress-forums .bbp-replies {
    margin-left: 0;
}

#bbpress-forums .bbp-threaded-replies {
    margin-left: 2rem;
}

#bbpress-forums .bbp-threaded-replies li:last-child {
    margin: 0;
}

#bbpress-forums ul.page-numbers,
#bbpress-forums .bbp-topic-pagination {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
}

#bbpress-forums span.page-numbers,
#bbpress-forums a.page-numbers {
    display: block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
}

.bbpress .bbp-template-notice {
    background-color: #fff3cd;
    border-color: #ffeeba;
    border-radius: .25rem;
    color: #856404;
    list-style: none;
    margin: 0 0 1rem;
    padding: .75rem 1.25rem;
    position: relative;
}

.bbpress .bbp-template-notice.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.bbp-search-result {
    background: #fff;
    border-bottom: 1px solid #e0dddd;
    clear: both;
    padding: 1rem;
}

.bbp-search-result:last-child {
    border-bottom: none;
}

.bbp-search-result.bbp-reply-result {
    border-left: 2px solid #17a2b8;
}

.bbp-search-result.bbp-topic-result {
    border-left: 2px solid #6c757d;
}

.bbp-search-result.bbp-forum-result {
    border-left: 2px solid #28a745;
}

/*
    bbPress Widgets
    --------------------------------------- */

.widget_display_forums ul > li,
.widget_display_topics ul > li,
.widget_display_replies ul > li,
.widget_display_views ul > li {
    border-bottom: 1px solid #e0dddd;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.widget_display_forums ul > li:last-child,
.widget_display_topics ul > li:last-child,
.widget_display_replies ul > li:last-child,
.widget_display_views ul > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.widget_display_topics ul li a,
.widget_display_replies ul li a {
    font-weight: bold;
}

.widget_display_topics ul div,
.widget_display_replies ul div {
    float: right;
    font-size: .8rem;
    margin-left: 1rem;
}

.widget_display_topics .avatar,
.widget_display_replies .avatar {
    float: none;
    margin: 0 .3rem 0 0;
}

.bbp_widget_login h4,
.bbp_widget_login .bbp-username,
.bbp_widget_login .bbp-password {
    margin-bottom: 1rem;
}

.bbp_widget_login .bbp-login-links {
    margin-top: 1rem;
}

.bbp_widget_login .bbp-login-links a {
    margin-right: 1rem;
}

/*
    WooCommerce
    ======================================= */

/*
    General Definitions
    --------------------------------------- */

.woocommerce-store-notice {
    background: #0d9078;
    color: #fff;
    left: 0;
    padding: 1em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.woocommerce-store-notice a {
    color: #fff;
    font-weight: bold;
}

.woocommerce .alert .button {
    margin-right: 1rem;
}

.woocommerce .alert-danger {
    list-style: none;
    margin: 0 0 1rem;
    padding: .75rem 1.25rem;
}

.woocommerce .select2-selection {
    height: 2.3rem;
    padding: .375rem .75rem;
}

.added_to_cart {
    display: none;
}

/*
    Product Catalog
    --------------------------------------- */

.catalog-ordering {
    text-align: center;
}

.catalog-ordering .dropdown-menu.animated {
    animation-duration: .3s;
    -webkit-animation-duration: .3s;
}

.order-dropdown {
    display: inline-block;
}

.order-dropdown a.btn::after,
.catalog-ordering a.desc::after,
.catalog-ordering a.asc::after {
    border: solid;
    border-width: .15em .15em 0 0;
    content: "";
    display: inline-block;
    height: 0;
    padding: .2em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 0;
}

.order-dropdown a.btn::after,
.catalog-ordering a.asc::after {
    position: relative;
    top: -.2em;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.order-dropdown a.btn::after {
    margin-left: .7rem;
}

.order-dropdown:hover .dropdown-menu {
    display: block;
}

.products .card {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    margin-bottom: 1.5rem;
}

.products .card:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.products .card-body .star-rating {
    margin: 0 auto;
    text-align: left;
}

.products .card-body .button {
    margin-top: 1rem;
}

.product-images {
    display: block;
    position: relative;
    text-align: center;
}

.product-images .crossfade-images img {
    position: relative;
    transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.product-images .crossfade-images img:hover {
    opacity: 0;
}

.product-images .crossfade-images .hover-image {
    position: absolute;
}

.product .show-details-button {
    background: #333;
    bottom: -2rem;
    color: #fff;
    font-size: .75rem;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    width: 100%;
}

.product .show-details-button .icon {
    margin-right: 1rem;
}

.products .product:hover .show-details-button {
    bottom: 0;
    opacity: .9;
}

.product .onsale {
    display: inline-block;
    margin-bottom: 1rem;
    position: relative;
}

.products .onsale {
    display: block;
    left: 1rem;
    margin: 0;
    position: absolute;
    top: 1rem;
    z-index: 10;
}

.products .price {
    display: block;
}

.cart-loading {
    background: #333;
    border-radius: 100%;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;
    padding: 13px;
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 50px;
    z-index: 100;
}

.cart-loading .ok,
.cart-loading .loader {
    background: url(assets/images/icons.svg#icon-ok-view) center center no-repeat;
    background-size: 24px;
    content: '';
    height: 24px;
    left: 50%;
    margin-left: -12px;
    position: relative;
    width: 24px;
}

.cart-loading .loader {
    background-image: url(assets/images/icons.svg#icon-loader-light-view);
}

.product .button.product_type_variable .icon-more,
.product .button.product_type_grouped .icon-more {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.price del .amount {
    font-size: 1rem;
    margin-right: 1rem;
}

.price ins {
    text-decoration: none;
}

.price ins .amount,
.price > .amount {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

/*
    Single Product
    --------------------------------------- */

.product h2,
.product h3 {
    margin-bottom: 2rem;
}

.product .product_meta {
    margin-top: 1rem;
}

.product .stock {
    font-weight: bold;
}

.product .variations label,
.product .group_table label,
.product .shop_attributes p:last-child {
    margin: 0;
}

.product .group_table {
    margin-bottom: 1.5rem;
}

.product ins {
    font-weight: bold;
    text-decoration: none;
}

.product .related,
.product .upsells {
    margin-top: 3rem;
}

.product .sku {
    margin-right: 1rem;
}

/*
    Reviews and Rating
    --------------------------------------- */

.star-rating {
    height: 1em;
    overflow: hidden;
    position: relative;
    width: 5em;
}

.widget .star-rating {
    margin-right: 1rem;
}

.star-rating span {
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
}

.star-rating span::before {
    background: url(assets/images/icons.svg#icon-star-full-view) left center repeat-x;
    background-size: 1em;
    bottom: 0;
    content: "";
    display: block;
    height: 1em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
}

.star-rating::before {
    background: url(assets/images/icons.svg#icon-star-empty-view) left center repeat-x;
    background-size: 1em;
    bottom: 0;
    content: "";
    display: block;
    height: 1em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
}

.single-product .product .star-rating span::before {
    background-image: url(assets/images/icons.svg#icon-star-full-color-view);
}

.woocommerce-reviews {
    margin-top: 2rem;
}

.woocommerce-review-link {
    margin-top: 1rem;
}

.product .add-review-title {
    margin-bottom: .5rem;
}

.stars span {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    -ms-flex-wrap: wrap;
}

.stars a {
    background: rgba(255, 255, 255, .7);
    border-radius: .25rem;
    font-weight: bold;
    max-width: 100%;
    min-height: 1px;
    padding: .5rem 1rem;
    position: relative;
    width: 100%;
}

.stars a:hover,
.stars a.active {
    color: #fff;
}

.stars a.star-1::before,
.stars a.star-2::before,
.stars a.star-3::before,
.stars a.star-4::before,
.stars a.star-5::before {
    background: url(assets/images/icons.svg#icon-star-full-color-view) left center repeat-x;
    background-size: 1em;
    bottom: 0;
    content: "";
    display: block;
    height: 1em;
    margin-top: -.5em;
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 1em;
}

.stars a.star-2::before {
    width: 2em;
}

.stars a.star-3::before {
    width: 3em;
}

.stars a.star-4::before {
    width: 4em;
}

.stars a.star-5::before {
    width: 5em;
}

/*
    My Account
    --------------------------------------- */

.woocommerce .edit::after,
.woocommerce .view::after {
    border: solid;
    border-width: 0 .1em .1em 0;
    content: '';
    display: inline-block;
    margin-left: .7em;
    padding: .15em;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    vertical-align: .15em;
}

.woocommerce .tab-content > form > .tab-pane {
    display: none;
}

.woocommerce .tab-content > form > .active {
    display: block;
}

/*
    Cart and Checkout
    --------------------------------------- */

.woocommerce .product-thumbnail img {
    min-width: 70px;
    width: 110px;
}

.woocommerce .product-remove a {
    font-size: 1.5rem;
    font-weight: bold;
}

.woocommerce .order-total .amount {
    font-size: 1.1rem;
}

.woocommerce .total td,
.woocommerce .product-total,
.woocommerce .cart-subtotal td,
.woocommerce .order-total td,
.woocommerce .cart-discount td {
    text-align: right;
    width: 50%;
}

.woocommerce #shipping_method {
    text-align: right;
}

.woocommerce .cart_totals p:last-child,
.woocommerce .woocommerce-checkout-review-order-table p:last-child,
.woocommerce #shipping_method li:last-child label {
    margin: 0;
}

.woocommerce-checkout-payment .payment_methods {
    list-style: none;
    margin: 3rem 0 0;
}

.woocommerce-checkout-payment .payment_methods li {
    margin-bottom: 1rem;
}

.woocommerce-checkout-payment .payment_methods .payment_box {
    background: rgba(0, 0, 0, .1);
    margin-top: 1rem;
    padding: 1rem 1rem .1rem;
}

.woocommerce .shipping_calculator .form-row {
    margin-left: 0;
    margin-right: 0;
}

.woocommerce-cart-form .quantity.mb-4 {
    margin: 0 !important;
}

.quantity .qty {
    width: 60px;
}

#billing_address_2_field .woocommerce-input-wrapper,
#shipping_address_2_field .woocommerce-input-wrapper {
    margin-left: auto;
}

#calc_shipping_state_field > span {
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    padding: 0;
}

/*
    WooCommerce Widgets
    --------------------------------------- */

.widget.woocommerce ul li {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    position: relative;
    -ms-flex-wrap: wrap;
}

.widget.woocommerce ul li a,
.widget.woocommerce .variation {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
}

.widget.woocommerce ul li a,
.widget.woocommerce .variation,
.product_list_widget li .amount {
    flex: 0 0 auto;
    margin-right: 1rem;
    width: auto;
    -ms-flex: 0 0 auto;
}

.widget.woocommerce ul li a.remove_from_cart_button {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: .5rem;
}

.widget.woocommerce ul li .reviewer {
    left: 78px;
    position: absolute;
    top: 0;
}

.widget.woocommerce ul li .quantity,
.widget.woocommerce .amount,
.widget.woocommerce .from,
.widget.woocommerce .to {
    font-weight: bold;
}

.widget.woocommerce del .amount {
    font-size: .8rem;
    font-weight: normal;
}

.widget.woocommerce ins {
    text-decoration: none;
}

.woocommerce .variation p,
.widget.woocommerce ul li:last-child,
.widget.woocommerce dl,
.widget.woocommerce dd {
    margin: 0;
}

.widget.woocommerce dt {
    font-weight: bold;
    margin-right: .5rem;
}

.widget.woocommerce .wp-post-image {
    border: 4px solid #fff;
    margin: 0 15px 10px 0;
    max-width: 60px;
}

.widget.woocommerce .count,
.woocommerce-review-link,
.woocommerce-review-link:hover {
    border-radius: 10rem;
    color: #fff;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .4em .6em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.widget_product_categories ul.product-categories li {
    display: block;
}

.widget_product_categories ul.product-categories > li {
    border-bottom: 1px solid #e0dddd;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.widget_product_categories ul.product-categories > li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.widget_product_categories ul.product-categories > li .children li {
    margin-bottom: 0;
}

.widget_shopping_cart ul {
    margin-bottom: 1rem;
}

.widget_shopping_cart .buttons {
    margin: 0;
    text-align: center;
}

.widget_shopping_cart .buttons a {
    display: inline-block;
    margin: .5rem .2rem;
    padding: .5rem 1rem;
}

.widget_shopping_cart .woocommerce-mini-cart__empty-message {
    margin: 0;
}

.widget_price_filter .ui-slider {
    background-color: #c4c4c4;
    border-radius: 2em;
    height: .5em;
    position: relative;
}

.widget_price_filter .ui-slider-handle {
    background: #666;
    border-radius: 2em;
    height: 1rem;
    outline: none;
    position: absolute;
    top: -.3rem;
    width: 1rem;
    z-index: 2;
}

.widget_price_filter .ui-slider-handle:last-child {
    margin-left: -1rem;
}

.widget_price_filter .ui-slider-range {
    background-color: #666;
    border-radius: 2em;
    display: block;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.widget_price_filter button {
    margin: 2rem 0;
}

.widget_rating_filter .star-rating {
    display: inline-block;
}

/*
    WPML Definitions
    ======================================= */

.menu-item-language img {
    margin-right: .5rem;
}

.widget .wpml-ls {
    width: 100%;
}

.widget_icl_lang_sel_widget {
    z-index: 1;
}

.wpml-ls-legacy-list-horizontal .wpml-ls-flag + span,
.wpml-ls-legacy-list-vertical .wpml-ls-flag + span {
    margin-left: .5rem;
}

.wpml-ls-legacy-list-horizontal a {
    margin-right: 1rem;
}

.widget .wpml-ls-item-legacy-list-vertical > a {
    padding: .5rem;
}

/*
    Custom FadeIn Effect
    ======================================= */

.fadein {
    opacity: 1;
    transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    visibility: visible;
}

/*
    Responsive Dynamic Definitions
    ======================================= */

/*
	Min-Width 992px - Desktop
	--------------------------------------- */

@media (min-width: 992px) {
    .carousel .layout-left {
        right: 50%;
    }

    .carousel .layout-right {
        left: 50%;
        right: 15%;
    }

    #posts-slider .layout-left {
        right: 55%;
    }
}

/*
	Max-Width 782px - For Admin Bar
	--------------------------------------- */

@media (max-width: 782px) {
    .admin-bar .woocommerce-store-notice,
    body.admin-bar .sticky-header {
        top: 46px;
    }

    body.body_blank.admin-bar {
        top: 45px;
    }
}

/*
	Min-Width 768px - Tablet
	--------------------------------------- */

@media (min-width: 768px) {
    body .sticky-header {
        margin-left: auto !important;
    }

    .sticky-header #sticky-title {
        margin: 0 !important;
    }

    .header > .container,
    .top-bar > .container {
        width: 100%;
    }

    .header-wrapper .woocommerce-menu > li {
        padding: 0;
    }

    .header-wrapper .woocommerce-menu > li a.nav-link {
        padding: 0 1rem;
    }

    .header-wrapper .woocommerce-menu > li a,
    .header-wrapper .woocommerce-menu .dropdown-item {
        font-size: .8rem;
    }

    .header-wrapper .woocommerce-menu > li.cart {
        margin-left: .5rem;
    }

    .header-wrapper .woocommerce-menu .my-account .logout {
        padding: .6rem 1rem;
    }

    .header-wrapper .woocommerce-menu .my-account .logout a {
        padding: 0;
    }

    .navbar-nav li a {
        line-height: 2.5em;
        overflow: hidden;
    }

    .navbar-nav .dropdown-menu {
        min-width: 15rem;
    }

    a span.link-effect {
        display: inline-block;
        position: relative;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        -o-transition: transform .3s;
        -webkit-transition: -webkit-transform .3s;
    }

    a span.link-effect::before {
        content: attr(data-hover);
        height: 100%;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .carousel-multiple-items .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        right: -33.333333%;
        top: 0;
        visibility: visible;
        z-index: 0;
    }

    .carousel-multiple-items .carousel-control-prev-icon,
    .carousel-multiple-items .carousel-control-next-icon {
        height: 30px;
        left: 2rem;
        padding: 5px;
        width: 30px;
    }

    .carousel-multiple-items .carousel-control-prev-icon::after,
    .carousel-multiple-items .carousel-control-next-icon::after {
        border-width: 2px 2px 0 0;
        height: 8px;
        width: 8px;
    }
}

/*
	Max-Width 767.98px - Landscape Phone
	--------------------------------------- */

@media (max-width: 767.98px) {
    #tagline,
    #website-title,
    .social-media-links,
    .header-logo-container {
        display: inline-block;
        float: none;
        text-align: center;
        width: 100%;
    }

    #website-title {
        margin: 0;
    }

    .header-logo-container img {
        float: none;
        margin: 1rem 0;
    }

    .custom-header {
        width: 100%;
    }

    .navbar.woocommerce {
        margin-bottom: 1rem;
    }

    .header-wrapper .woocommerce-menu .cart .dropdown-item {
        padding: .7rem 1rem;
    }

    .navbar-nav > li {
        padding: .2rem 1rem !important;
    }

    .navbar-nav li,
    .navbar-nav,
    .navbar-nav .dropdown-menu,
    .navbar-toggler {
        border: 1px solid rgba(0, 0, 0, .5);
        border-top-width: 0;
    }

    .navbar-nav,
    .navbar-nav .dropdown-menu {
        border-width: 1px 0 0 0;
    }

    .navbar-nav .dropdown-menu {
        animation-duration: .3s;
        -webkit-animation-duration: .3s;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }

    .navbar-nav .dropdown-item,
    .navbar-nav ul li.menu-item-has-children {
        padding: .7rem 1rem;
    }

    .navbar-nav ul li.menu-item-has-children .dropdown-toggle {
        padding: 0;
    }

    .navbar-nav .menu-item-has-children.open .dropdown-toggle:first-child {
        padding-bottom: 0;
    }

    .navbar-nav .menu-item-has-children .dropdown-menu {
        margin-top: .7rem;
    }

    .navbar-toggler {
        border-width: 1px;
    }

    .navbar-toggler.woocommerce-toggler {
        margin: 1rem auto 0;
    }

    .navbar-collapse {
        margin-top: 1rem;
    }

    .sticky-header {
        display: none;
    }

    .nav-holder ul {
        display: none;
    }

    .menu-header {
        padding: 1rem 0;
    }

    .social-media-links li {
        float: none;
    }

    .share-this,
    .comment-count {
        margin: 1.5rem 0;
    }

    .carousel-multiple-items .carousel-inner .active.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        right: -50%;
        top: 0;
        visibility: visible;
        z-index: 0;
    }

}

/*
	Min-Width 576px - Phone
	--------------------------------------- */

@media (min-width: 576px) {
    .carousel-multiple-items .carousel-inner .active,
    .carousel-multiple-items .carousel-inner .active + .carousel-item,
    .carousel-multiple-items .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-multiple-items .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        display: block;
        transition: -webkit-transform .6s;
        transition: transform .6s;
        -o-transition: transform .6s;
        -webkit-transition: -webkit-transform .6s;
    }

    .carousel-multiple-items .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-multiple-items .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-multiple-items .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
        -o-transition: none;
        -webkit-transition: none;
    }

    .carousel-multiple-items .carousel-inner .carousel-item-next,
    .carousel-multiple-items .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }

    .carousel-multiple-items .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-multiple-items .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-multiple-items .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-multiple-items .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    .carousel-multiple-items .carousel-inner .carousel-item-prev.carousel-item-right {
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        visibility: visible;
        z-index: 0;
    }

    .carousel-multiple-items .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-multiple-items .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-multiple-items .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-multiple-items .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        display: block;
        position: relative;
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
}

/*
	Max-Width 575.98px - Small Phone
	--------------------------------------- */

@media (max-width: 575.98px) {
    .navbar-toggler {
        margin: 0 auto;
    }

    .menu-header .navbar-collapse {
        margin: 1rem;
    }

    .nav-tabs .nav-link,
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link:hover {
        border-color: #e0dddd;
    }

    .nav-tabs .nav-item:first-child .nav-link {
        border-bottom-color: transparent;
    }

    .header-wrapper .search-form {
        margin: 1rem;
    }

    .header-wrapper .search-form .form-control {
        border-width: 1px;
        text-indent: 1px;
        width: 100%;
    }

    .header-wrapper .search-form .form-control:focus {
        width: 100%;
    }

    .navigation .nav-previous,
    .navigation .nav-next {
        margin: .5rem 0;
        text-align: center;
    }

    .carousel .layout-left {
        right: 15%;
    }
}